<section
  class="d-flex flex-column justify-content-center align-items-center"
  style="width: 100%; height: calc(100vh - 88px)"
>
  <img src="/public/images/welcome.svg" alt="Welcome user!" style="max-width: 768px" />
</section>