.c-access {
  width: 100%;
  height: calc(100vh - 88px);
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    h1 {
      color: #182550;
    }
  }
  &__alternative-login {
    margin-bottom: 32px;
    button {
      margin: 16px 8px;
    }
  }
  &__form {
    width: 100%;
    max-width: 464px;
    display: flex;
    justify-content: center;
    button {
      width: 100%;
    }
  }
  &__link {
    color: #182550;
  }
}
